
/* Service information section */
.service {
  background-color: #E0E0E0;
  display: grid;
  padding-bottom: 3rem;
}

.service__title {
  font-size: 2.5rem;
  padding: 2rem;
  text-align: center;
}

.service__item {
  margin: auto;
  padding: 1rem;
}

.service__icon {
  background-color: #E0E0E0;
  border: 1px solid #585858;
  border-radius: 50%;
  margin-right: 0.5rem;
  padding: 1.5rem;
  width: 3rem;
  float: left;
}

.service__itemtitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* Media queries */

@media screen and (min-width: 768px){
  .service{
grid-template-columns: 1fr 1fr;
}

.service__title{
  grid-column: 1/3;
}

}

@media screen and (min-width: 1000px){
  .service{
grid-template-columns: 1fr 1fr 1fr;
}

.service__title{
  grid-column: 1/4;
}

}
