.testimonial__title {
  background-color: #D6D6D6;
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 2rem;
  text-align: center;
}

.testimonial {
  background-color: #D6D6D6;
  width: 400%;
  height: 130vw;
  max-height: 40rem;
  position: relative;
  overflow: hidden;
}

.testimonial__imgcontainer {
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 0.7s ease-in;
  -webkit-transition: all 0.7s ease-in;
  -moz-transition: all 0.7s ease-in;
  -o-transition: all 0.7s ease-in;
  right: calc(100%/4);
}

/* Slider Functionality */
#slider1, #slider2, #slider3 {
  display: none;
}

#slider_img_0, #slider_img_1, #slider_img_2, #slider_img_3 {
  float: left;
}

#slider1:checked~#dot1 {
  background-color: gray;
  border-color: #BEBEBE;
  height: 1.2rem;
  width: 1.2rem;
}

#slider2:checked~#dot2 {
  background-color: gray;
  border-color: #BEBEBE;
  height: 1.2rem;
  width: 1.2rem;
}

#slider3:checked~#dot3 {
  background-color: gray;
  border-color: #BEBEBE;
  height: 1.2rem;
  width: 1.2rem;
}
}

#slider1:checked~.testimonial__imgcontainer {
  right: calc(100%/4*1);
}

#slider2:checked~.testimonial__imgcontainer {
  right: calc(100%/4*2);
}

#slider3:checked~.testimonial__imgcontainer {
  right: calc(100%/4*3);
}

/*Slider Style */
.dots {
  background-color: #BEBEBE;
  border-color: gray;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  position: absolute;
  z-index: 2;
  height: 1rem;
  width: 1rem;
  bottom: 0;
  margin-bottom: 2rem;
}

#dot1 {
  left: 0;
  /*50% of screen (left side of dot to left side of screen)
minus half the width of dot (to perfectly center)
minus width and 1rem (to offset left of center dot)*/
  margin-left: calc(calc(100%/4/2) - calc(1rem/2) - 1rem - 1rem);
}

#dot2 {
  left: 0;
  /*50% of screen (left side of dot to left side of screen)
minus half the width of dot (to perfectly center) */
  margin-left: calc(calc(100%/4/2) - calc(1rem/2));
}

#dot3 {
  left: 0;
  /*50% of screen (left side of dot to left side of screen)
minus half the width of dot (to perfectly center)
plus width and 1rem (to offset right of center dot)*/
  margin-left: calc(calc(100%/4/2) - calc(1rem/2) + 1rem + 1rem);
}

.testimonial__box {
  position: ;
}

.testimonial--box0 {
  height: 30rem;
  width: calc(100%/4);
}

.testimonial--box1 {
  height: 30rem;
  width: calc(100%/4);
}

.testimonial--box2 {
  height: 30rem;
  width: calc(100%/4);
}

.testimonial--box3 {
  height: 30rem;
  width: calc(100%/4);
}

.testimonial__img {
  height: 35vw;
  width: 35%;
  margin: auto;
  margin-top: 10%;
  position: relative;
}

.testimonial__img--1,
.testimonial__img--2,
.testimonial__img--3 {
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.testimonial__text {
  font-size: 1.3rem;
  font-style: italic;
  padding: 10% 0.5rem 0 0.5rem;
  text-align: center;
}

.testimonial__name {
  color: #505050;
  font-size: 1rem;
  font-style: italic;
  padding-top: 10%;
  text-align: center;
}

#fill {
  height: 100rem;
}
