* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

header {
  background-image: url("photo/perspective.jpg");
  background-position: 100%;
  background-size: cover;
  height: fit-content;
  min-height: 25rem;
  padding-bottom: 5rem;
}

/*Section for links at top of page */
.homelink {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.homelink__icon {
  width: 2.7rem;
}

.homelink__textlink {
  color: #E8E8E8;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}

.homelink__activemenu {
  display: none;
  background-color: red
}

.homelink__dropdownanchor {
  margin-left: auto;
}

.homelink__menuicon {
  background-color: #E8E8E8;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 0.5rem 0.5rem;
  width: 2rem;
}

/* Drop down menu */
.menu {
  display: none;
  flex: 0 0 100%;
}

.menu:hover {
  display: block;
}

.homelink__nonactivemenu:hover~.menu {
  display: block;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Add active dropdown menu button

.homelink__nonactivemenu:active ~ .homelink__activemenu{
  display: block;
}

.homelink__nonactivemenu:hover{
  display:none;
}
*/
/* Active dropdown hover and active effects

.homelink__activemenu:hover ~ .menu{
  display:block;
}


.homelink__activemenu:active ~ .menu{
  display:none;
}

.homelink__activemenu:active ~ .homelink__nonactivemenu{
  display: block;
}

.homelink__activemenu:active{
  display:none;
}

*/
.menu__ul {
  margin: 0.5rem;
}

.menu__li {
}

.menu__link {
  color: orange;
  font-size: 2rem;
  text-decoration: none;
}

.menu__link:hover {
  color: red;
}

/* Title information at header */
.pageTitle {
  color: #E8E8E8;
  padding-bottom: 3rem;
  padding-top: 5rem;
  text-align: center;
}

.pageTitle__title {
  font-size: 2.2rem;
}

.pageTitle_slogan {
  font-size: 1.1rem;
}

.btn--readmore {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  color: white;
  font-family: 'Raleway';
  font-weight: bolder;
  line-height: 16px;
  padding: 15px 32px;
}

.btn--readmore:hover {
  background: white;
  color: black;
}

/* Introduction section */
.intro {
  padding: 2rem 0.5rem 2rem 0.5rem;
  text-align: center;
}

/* Service information section */
.service {
  background-color: #E0E0E0;
  display: grid;
  padding-bottom: 3rem;
}

.service__title {
  font-size: 2.5rem;
  padding: 2rem;
  text-align: center;
}

.service__item {
  margin: auto;
  padding: 1rem;
}

.service__icon {
  background-color: #E0E0E0;
  border: 1px solid #585858;
  border-radius: 50%;
  margin-right: 0.5rem;
  padding: 1.5rem;
  width: 3rem;
  float: left;
}

.service__itemtitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* About section */
.about__img {
  width: 100%
}

.about__title {
  font-size: 2.5rem;
  padding: 2rem;
  text-align: center;
}

.about__desc {
  text-align: center;
  padding-bottom: 1rem;
}

.about__imgdesc {
  padding: 1rem 0.5rem 1rem 0.5rem;
}

.about__list {
  padding-bottom: 1rem;
}

.about__listitem {
  padding: 0.2rem;
}

li.about__listitem:before{
  content: '\1F947';
}


/*About Bootstrap template */
.aboutTemp__title{
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.aboutTemp__desc{
  padding: 0.5rem;
}

.aboutTemp__list {
  padding-bottom: 1rem;
}

.aboutTemp__listItem {
  padding: 0.2rem;
}

li.aboutTemp__listItem:before{
  content: '\1F947';
}
