* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

header {
  background-image: url("photo/perspective.jpg");
    background-position: 100%;
  background-size: cover;
  height: fit-content;
  min-height: 25rem;
  padding-bottom: 5rem;
}

.homelink {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.homelink__icon {
  width: 2.7rem;
}

.homelink__textlink {
  color: #E8E8E8;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}

.homelink__activemenu {
  display: none;
  background-color: red
}

.homelink__dropdownanchor {
  margin-left: auto;
}

.homelink__menuicon {
  background-color: #E8E8E8;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 0.5rem 0.5rem;
  width: 2rem;
}

.menu {
  display: none;
  flex: 0 0 100%;
}

.menu:hover {
  display: block;
}

.homelink__nonactivemenu:hover ~ .menu {
  display: block;
}

.fade-in{
  opacity: 1;
animation-name: fadeInOpacity;
animation-iteration-count: 1;
animation-timing-function: ease-in;
animation-duration: 0.3s

}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
/* Add active dropdown menu button

.homelink__nonactivemenu:active ~ .homelink__activemenu{
  display: block;
}

.homelink__nonactivemenu:hover{
  display:none;
}
*/
/* Active dropdown hover and active effects

.homelink__activemenu:hover ~ .menu{
  display:block;
}


.homelink__activemenu:active ~ .menu{
  display:none;
}

.homelink__activemenu:active ~ .homelink__nonactivemenu{
  display: block;
}

.homelink__activemenu:active{
  display:none;
}

*/
.menu__ul {
  margin: 0.5rem;
}

.menu__li {
  list-style: none;
}

.menu__link {
  color: orange;
  font-size: 2rem;
  text-decoration: none;
}

.menu__link:hover {
  color: red;
}

.pageTitle {
  color: #E8E8E8;
  padding-bottom: 3rem;
  padding-top: 5rem;
  text-align: center;
}

.pageTitle__title {
  font-size: 2.2rem;
}

.pageTitle_slogan {
  font-size: 1.1rem;
}

.btn--readmore {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  color: white;
  font-family: 'Raleway';
  font-weight: bolder;
  line-height: 16px;
  padding: 15px 32px;
}

.btn--readmore:hover{
  background:white;
  color: black;
}



.intro{
  padding: 2rem 0.5rem 0.5rem;
  text-align: center;
}
