* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
}

/* Div holding fullscreen video */
.container-fullscreen-video {
  position: relative;
  height: 100vh;
  overflow: hidden;
  z-index: -3;
}

.fullscreen-video {
  object-fit: cover;
}

/*Container for background overlay  */
.overlay-background-right {
  background: #FD5E53;
  height: 100vh;
  left: 0;
  opacity: 0.15;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: -2;
}

/* Container for SLANTED portion of left overlay */
.overlay-slanted-background-left {
  background: #152852;
  height: 100vh;
  left: 0vw;
  opacity: 0.8;
  position: absolute;
  top: 0;
  width: 45vw;
  z-index: -1;
  transform: skewX(-15deg);
  transform-origin: top left;
}

/*Coming Soon header */
.main-header {
  font-family: 'Merriweather', serif;
  font-size: 3.4vw;
  position: absolute;
  top: 35vh;
  left: 5vw;
}

/*Coming soon text */
.main-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5vw;
  top: 47vh;
  left: 2.5vw;
  position: absolute;
  width: 30vw;
}

/*Container for form*/
.input-form {
  display: flex;
  position: absolute;
  top: 63vh;
  left: 2.9vw;
  vertical-align: middle;
}

/*Input text for form*/
.input-text {
  border-radius: 0.25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: #495057;
  font-size: 1rem;
  height: 7vh;
  width: 20vw;
}

/*Input button for form*/
.input-button {
  background-color: #cd9557;
  border-radius: 0.25rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.0vw;
  font-weight: 700;
  height: 7vh;
  letter-spacing: 1px;
  width: 8vw;
}

/*Individual icons */
.icons-img {
  margin: 0.7vh;
  width: 4vw;
}

.nav-container {
  display: grid;
  position: fixed;
  bottom: 5vh;
  right: 1vw;
}
