* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

header {
  background-image: url("../photo/perspective.jpg");
  background-position: 100%;
  background-size: cover;
  height: fit-content;
  min-height: 25rem;
  padding-bottom: 5rem;
}

/*Section for links at top of page */
.homelink {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.homelink__icon {
  width: 2.7rem;
}

.homelink__textlink {
  color: #E8E8E8;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}

.homelink__checkbox {
  margin-left: auto;
}

.homelink__menuicon {
  background-color: #E8E8E8;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 0.5rem 0.5rem;
  width: 2rem;
}

/*
.menu:hover {
  display: block;
}

.homelink__nonactivemenu:hover~.menu {
  display: block;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Add active dropdown menu button

.homelink__nonactivemenu:active ~ .homelink__activemenu{
  display: block;
}

.homelink__nonactivemenu:hover{
  display:none;
}
*/
/* Active dropdown hover and active effects

.homelink__activemenu:hover ~ .menu{
  display:block;
}


.homelink__activemenu:active ~ .menu{
  display:none;
}

.homelink__activemenu:active ~ .homelink__nonactivemenu{
  display: block;
}

.homelink__activemenu:active{
  display:none;
}

*/
/* Drop down menu */
.menu {
  flex: 0 0 100%;
}

.menu__ul {
  margin: 0.5rem;
}

.menu__li {
  list-style-type: none;
}

.menu__link {
  color: orange;
  font-size: 2rem;
  text-decoration: none;
}

.menu__link:hover {
  color: red;
}

/* Drop drop effects */
#dropdown, #dropdownitems {
  display: none;
}

#dropdown:checked~#dropdownitems {
  display: block;
}

/*Drop down fade in effects*/
.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Title information at header */
.pageTitle {
  color: #E8E8E8;
  padding-bottom: 3rem;
  padding-top: 2.5rem;
  text-align: center;
}

.pageTitle__title {
  font-size: 2.2rem;
}

.pageTitle_slogan {
  font-size: 1.1rem;
}

.btn--readmore {
  background: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  color: white;
  font-family: 'Raleway';
  font-weight: bolder;
  line-height: 16px;
  padding: 15px 32px;
}

.btn--readmore:hover {
  background: white;
  color: black;
}

/* Introduction section */
.intro {
  padding: 2rem 0.5rem 2rem 0.5rem;
  text-align: center;
}

/* Service information section */
.service {
  background-color: #E0E0E0;
  display: grid;
  padding-bottom: 3rem;
}

.service__title {
  font-size: 2.5rem;
  padding: 2rem;
  text-align: center;
}

.service__item {
  margin: auto;
  padding: 1rem;
}

.service__icon {
  background-color: #E0E0E0;
  border: 1px solid #585858;
  border-radius: 50%;
  margin-right: 0.5rem;
  padding: 1.5rem;
  width: 3rem;
  float: left;
}

.service__itemtitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* About section */
.about__img {
  width: 100%
}

.about__title {
  font-size: 2.5rem;
  padding: 2rem;
  text-align: center;
}

.about__desc {
  text-align: center;
  padding: 0 0.4rem 1rem 0.4rem;
}

.about__imgdesc {
  padding: 1rem 0.5rem 1rem 0.5rem;
}

.about__list {
  padding-bottom: 1rem;
}

.about__listitem {
  padding: 0.2rem;
}

li.about__listitem:before {
  content: '\1F947';
}

/*About Bootstrap template */
.aboutTemp__title {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.aboutTemp__desc {
  padding: 0.5rem;
}

.aboutTemp__list {
  padding-bottom: 1rem;
}

.aboutTemp__listItem {
  padding: 0.2rem;
}

li.aboutTemp__listItem:before {
  content: '\1F947';
}

.aboutTemp__listDesc {
  padding: 0.5rem;
}

/* Accordion Section (collapsible list) */
.accordion {
  margin: 0.5rem;
}

.accordion_expander {
  background-color: #D8D8D8;
  border: 1px solid #989898;
  display: flex;
  padding: 0.5rem;
}

.accordion__btn {
  color: black;
  list-style: none;
  text-decoration: none;
}

.accordion__expandIcon {
  width: 1rem;
  margin-left: auto;
}

.accordion__info {
  background-color: #E8E8E8;
  padding: 0.7rem;
}

/* Code for hide/show */
#collapse1, #collapseContent1 {
  display: none;
}

#collapse1:checked~#collapseContent1 {
  display: block;
}

#collapse2, #collapseContent2 {
  display: none;
}

#collapse2:checked~#collapseContent2 {
  display: block;
}

#collapse3, #collapseContent3 {
  display: none;
}

#collapse3:checked~#collapseContent3 {
  display: block;
}

/*Standalone section saying "Amazing Free Bootstrap Template" */
.standalonePhrase {
  align-items: center;
  background-color: #D6D6D6;
  display: flex;
  font-size: 2rem;
  height: 20rem;
  margin-top: 3rem;
  justify-content: center;
}

.standalonePhrase__words {
  padding: 0.5rem;
  text-align: center;
}

/*Introduce team members */
.team__title {
  font-size: 2.5rem;
  padding-top: 1rem;
  text-align: center;
}

.team__desc {
  font-size: 1.3rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  text-align: center;
}

.team__memberContainer {
  display: flex;
  flex-wrap: wrap;
}

.team__member {
  margin: 5%;
  width: 40%;
}

.team__img {
  width: 100%
}

.team__name {
  font-size: 1.2rem;
  display: inline-block;
  padding-top: 1rem;
  text-align: center;
  width: 100%;
}

.team__position {
  color: #9a9a9a;
  font-size: 1rem;
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  text-align: center;
  width: 100%;
}

.team__icon {
  background-color: #eee;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: white;
  box-sizing: border-box;
  color: #565656;
  padding: 1vw;
  width: 50%;
  text-align: center;
}

/* Portfolio Projects */
.portfolio {
  margin-bottom: 5rem;
}

.portfolio__title {
  font-size: 2.5rem;
  padding-top: 2rem;
  text-align: center;
}

.portfolio__desc {
  font-size: 1.3rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  text-align: center;
}

/*Portfolio Items */
#portfolio__project1 {
  background-image: url(../portfolio/portfolio_project1.jpg);
}

#portfolio__project2 {
  background-image: url(../portfolio/portfolio_project2.jpg);
}

#portfolio__project3 {
  background-image: url(../portfolio/portfolio_project3.jpg);
}

#portfolio__project4 {
  background-image: url(../portfolio/portfolio_project4.jpg);
}

#portfolio__project5 {
  background-image: url(../portfolio/portfolio_project5.jpg);
}

#portfolio__project6 {
  background-image: url(../portfolio/portfolio_project6.jpg);
}

#portfolio__project7 {
  background-image: url(../portfolio/portfolio_project7.jpg);
}

#portfolio__project8 {
  background-image: url(../portfolio/portfolio_project8.jpg);
}

#portfolio__project9 {
  background-image: url(../portfolio/portfolio_project9.jpg);
}

/* Portfolio styling */
.portfolio__img {
  background-position: 50% 30%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 2rem;
  padding-bottom: 2rem;
  height: 90vw;
  width: 90%;
  max-height: 25rem;
  max-width: 30rem;
  transition: all 0.5s ease-out;
}

.portfolio__projectTitle {
  color: white;
  background-color: rgba(255, 99, 71, 0.4);
  font-size: 1.2rem;
  margin-top: auto;
  padding: 0.5rem;
  text-align: center;
}

/*

Labels for different portfolios -- note appdevlabel forced
to #cacaca initially --  appdev has checked/not checked reversed

*/

.portfolio__label {
  background-color: #F7780F;
  border-style: solid;
  border-width: 1.5px;
  color: white;
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0.5rem;
  text-align: center;
}

#portfolio__web:not(:checked)~#portfolio__webLabel {
  background-color: #cacaca;
}


#portfolio__appdev:checked~#portfolio__appdevLabel {
  background-color: #cacaca;
}

#portfolio__mobileapp:not(:checked)~#portfolio__mobileappLabel {
  background-color: #cacaca;
}

/* Show and Hide portfolio images */
/*web projects */
#portfolio__web, .portfolio__webproj {
  opacity: 1;
  transform: scale(1);
  visibility: visible;

  opacity: 0;
  transform: scale(0);
  visibility: hidden;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#portfolio__web:checked~.portfolio__webproj {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
  position: relative;
}

/* app dev projections */
#portfolio__appdev, .portfolio__appdevproj {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
  position: relative;
  opacity: 0;
  transform: scale(0);
  visibility: hidden;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#portfolio__appdev:not(:checked)~.portfolio__appdevproj {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
  position: relative;
}

/* mobile app projections */
#portfolio__mobileapp, .portfolio__mobileproj {
  opacity: 1;
  transform: scale(1);
  visibility: visible;

  opacity: 0;
  transform: scale(0);
  visibility: hidden;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#portfolio__mobileapp:checked~.portfolio__mobileproj {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
  position: relative;
}
